@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins;
  }
}

.navBarLink {
  @apply relative
  w-fit

  transition-colors

  hover:text-black
  hover:after:bg-black
  hover:after:w-full

  after:transition-all
  after:h-[3px]
  after:w-0
  after:bg-black/40
  after:absolute
  after:left-1/2
  after:translate-x-[-50%]
  after:bottom-0;
}

.navBarActiveLink {
  @apply relative
  w-fit
  text-black

  after:w-full
  after:transition-all
  after:h-[3px]
  after:bg-black
  after:absolute
  after:left-1/2
  after:translate-x-[-50%]
  after:bottom-0;
}

.squareGrid7cols {
  /*The content width you use on your website*/
  --content-width: calc(100vw * 0.86);

  /* The size of the gutter */
  --gutter: 2vw;

  /* The amount of columns */
  --columns: 7;

  /* This is the calculation for the row height.  */
  --row-size: calc((var(--content-width) - (var(--gutter) * (var(--columns) - 1))) / var(--columns));

  display: grid;

  width: 100%;
  max-width: var(--content-width);

  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);

  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
}

.squareGrid4cols {
  /*The content width you use on your website*/
  --content-width: calc(100vw * 0.86);

  /* The size of the gutter */
  --gutter: 2vw;

  /* The amount of columns */
  --columns: 4;

  /* This is the calculation for the row height.  */
  --row-size: calc((var(--content-width) - (var(--gutter) * (var(--columns) - 1))) / var(--columns));

  display: grid;

  width: 100%;
  max-width: var(--content-width);

  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);

  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
}

.button-primary {
  @apply flex items-center p-[1vw] lg:p-4 lg:px-6 gap-[1vw] lg:gap-4 text-[2.5vw] sm:text-lg lg:text-xl font-semibold bg-primary whitespace-nowrap;
}

.button-success {
  @apply flex items-center p-[1vw] lg:p-4 lg:px-6 gap-[1vw] lg:gap-4 text-[2.5vw] sm:text-lg lg:text-xl font-semibold bg-success whitespace-nowrap;
}

.button-error {
  @apply flex items-center p-[1vw] lg:p-4 lg:px-6 gap-[1vw] lg:gap-4 text-[2.5vw] sm:text-lg lg:text-xl font-semibold bg-error whitespace-nowrap;
}

.footerCategory {
  @apply flex md:flex-col justify-between md:justify-normal gap-2;
}

.footerTitle {
  @apply text-xl leading-6 font-semibold;
}

.footerArguments {
  @apply flex flex-col text-right md:text-left gap-0 md:gap-2 opacity-60;
}

.content-title {
  @apply font-semibold text-4xl;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.select-chevron-hide::-ms-expand {
  display: none;
}

.select-chevron-hide {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
